.messages-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--admin-topbar-height));
  overflow: hidden;
}

.messages-drawer-container {
  flex: 1;
  height: 100%;
}

.messages-drawer {
  width: 280px;
  border-right: 1px solid var(--admin-gray-200);
}

.messages-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 960px) {
  .messages-drawer {
    width: 100%;
    max-width: 320px;
  }
}

