<div class="messages-sidebar-content">
  <h2 class="sidebar-title">Mensajes</h2>

  <div class="sidebar-top-actions">
    <button mat-raised-button color="primary" class="compose-button" [routerLink]="['./compose']" matTooltip="Redactar nuevo mensaje" disabled>
      <mat-icon>edit</mat-icon>
      <span>Redactar</span>
    </button>

    <button mat-stroked-button class="mark-all-read-button" (click)="markAllAsRead()">
      <mat-icon>done_all</mat-icon>
      <span>Marcar todo como leído</span>
    </button>
  </div>

  <div class="folder-list">
    @for (folder of folders; track folder.id) {
      <a
        mat-button
        class="folder-item"
        [routerLink]="['./', folder.slug, '0']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: false}">
        <div class="icon-wrapper">
          <mat-icon>{{ folder.icon }}</mat-icon>
          <span class="folder-count" [class.has-count]="folder.count">{{ folder.count || 0 }}</span>
        </div>
        <span>{{ folder.title }}</span>
      </a>
    }
  </div>
</div>

